body{
    display: flex;
    margin:0px;
    background-color: black;
    color: white;



    
}


nav{
    padding: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 30vw;
    background-color: black;
}

#logo{
    width: 1vw;
    height: 1vw;

}

#menu{
    gap: 2vw;
    display: flex;
    text-align: center;
align-items: center;
    font-size: 1.2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}


#menu a{
    text-decoration: none;
    color: white;
    align-self: center;
    font-size: 36vw;
    padding: 5px;
}